*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.navbar{
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-ps{
    display: flex;
    gap: 20px;
}
.header-btn{
    padding: 10px 30px;
    background-color: #061B3A;
    border-radius: 5px;
    display: flex;
    gap: 10px;
    color: white;
    cursor: pointer;
}
.fa-bars{
    display: none;
}
.section1-blue{
    background-color: #A7CBFF;
}
.section1{
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.left h1{
    font-size: 50px;
}
.row{
    display: flex;
    align-items: center;
    gap: 20px;
}
.left-list{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.left{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 40px;
}
.left button{
    padding: 10px 30px;
    border-radius: 10px;
    border: none;
    display: flex;
    align-items: center;
    gap: 20px;
}
.right{
    position: relative;
    height: 700px;
}
.hero-section-human{
    height: 100%;
}
.card{
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    position: absolute;
    top: 60%;
}
.card div{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 70%;
}
.card p{
    font-size: 12px;
}
.right button{
    background-color: #071C3B;
    color: white;
    font-size: 20px;
    border-radius: 40px;
    padding: 10px 30px;
    position: absolute;
    cursor: pointer;
    top: 80%;
    left: 50%;
}
.process{ 
    max-width: 1200px;
    margin: auto;
    padding: 100px;
    display: flex;
    flex-direction: column;
    gap: 100px;
}
.process-cont{
    display: grid;
    grid-template-columns: 220px 220px 220px 220px 220px;
    grid-template-rows: 200px 200px;
    gap: 20px;
}
.item{
    box-shadow: 0px 0px 7px rgba(192, 192, 192, 0.634);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    padding-left: 20px;
}
.process-both{
    display: flex;
    font-size: 14px;
}
.process h1{
    font-size: 40px;
}
.sami{
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 50px;
    gap: 50px;
}
.sami-cont{
    display: grid;
    grid-template-columns: 600px 600px;
    grid-template-rows: 400px;
    gap: 20px;
}
.item-sami1{
    border-radius: 20px;
    box-shadow: 0px 0px 7px rgba(192, 192, 192, 0.634);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 40px;
}
.item-sami2{
    height: 350px;
    background-color: #061B3A;
    border-radius: 20px;
    box-shadow: 0px 0px 7px rgba(192, 192, 192, 0.634);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 40px;
}
.sami h1{
    font-size: 40px;
}
.item-sami1 h2{
    font-size: 24px;
    color: #00000066;
}
.item-sami1 p{
    font-size: 24px;
    font-weight: 300;
    color: #00000089;
}
.sami-both{
    display: flex;
    gap: 20px;
    color: rgba(255, 255, 255, 0.844);
    font-weight: 400;
    font-size: 20px;
}
.item-sami2 h2{
    font-size: 24px;
    font-weight: 700;
    color: white;
}
.question{
    width: 100%;
    height: 700px;
    background-color: #F0F9FF;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}
.question1{
    max-width: 1200px;
    width: 100%;
    height: 530px;
    display: flex;
}
.question-cont{
    display: grid;
    grid-template-columns: 80px 80px 80px 80px 80px;
    grid-template-rows: 50px;
    gap: 10px;
}
.question-item{
    border: 2px solid #d1d1d1;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.question2{
    height: 85%;
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 40px;
    gap: 70px;
    background-color: white;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}
.question2 h1{
    font-size: 24px;
    font-weight: 700;
    color: #061B3A;
}
.question2 h2{
    font-size: 24px;
    font-weight: 500;
    color: #000000;
    width: 70%;
}
.question-btns{
    display: flex;
    gap: 10px;
}
.question-btn1{
    border: 2px solid #061B3A;
    background-color: white;
    border-radius: 5px;
    width: 50px;
    height: 50px;
}
.question-btn2{
    border: 2px solid #061B3A;
    background-color: #061B3A;
    border-radius: 5px;
    width: 140px;
    height: 50px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.question3{
    background-color: #061B3A;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    height: 85%;
    width: 40%;
    display: flex;
    flex-direction: column;
    padding: 40px;
    gap: 80px;
}
.question3 h1{
    color: #FFFFFF;
    font-size: 30px;
    font-weight: 700;
    width: 70%;
}
.question3 p{
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 500;
    width: 55%;
}
.case{
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
    display: flex;
}
.case1{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.case1 h1{
    color: #000000;
    font-size: 40px;
    font-weight: 600;
}
.case p{
    color: #00000099;
    font-size: 20px;
    font-weight: 400;
    width: 80%;
}
.case-cont{
    display: grid;
    grid-template-columns: 700px;
    grid-template-rows: 100px 380px 100px 100px;
    gap: 20px;
}
.case-item{
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(192, 192, 192, 0.634);
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.case-item h2{
    font-size: 18px;
    font-weight: 600;
    color: #061B3A;
    width: 50%;
}
.case-item-fr h2{
    font-size: 18px;
    font-weight: 600;
    color: #061B3A;
    width: 50%;
}
.fa-angle-down{
    font-size: 30px;
}
.fa-angle-up{
    font-size: 30px;
    color: #00000060;
}
.case-item-both{
    display: flex;
    align-items: center;
    gap: 40px;
}
.case-item2{
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(192, 192, 192, 0.634);
    display: flex;
    flex-direction: column;
}
.case-item-fr{
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #00000029;
}
.case-item-sc h3{
    font-size: 20px;
    font-weight: 700;
    color: #00000060;
}
.case-item-sc p{
    font-size: 16px;
    font-weight: 400;
    color: #000000;
}
.case-item-sc button{
    align-self: flex-start;
    background-color: #FFFFFF;
    padding: 15px 30px;
    border-radius: 5px;
    border: none;
    border: 2px solid #061B3A;
    color: #061B3A;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 15px;
}
.case-item-sc{
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.case2{
    border: 2px dashed #00000029;
    border-radius: 20px;
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0px 20px;
    margin-top: 145px;
}
.case-humans{
    width: 100%;
}
.case2 h2{
    color: #061B3A;
    font-size: 22px;
    font-weight: 600;
    width: 60%;
}
.concurs{
    width: 100%;
    height: 1000px;
    background-color: #F0F9FF;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.concurs1{
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.concurs1 h1{
    font-size: 40px;
    font-weight: 600;
    color: #000000;
}
.concurs-main{
    display: flex;
}
.concurs-pic{
    width: 600px;
}
.concurs-cont{
    display: grid;
    grid-template-columns: 600px;
    grid-template-rows: 250px 350px;
    gap: 20px;
}
.concurs-item{
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.concurs-item h2{
    font-size: 24px;
    font-weight: 600;
    color: #061B3A;
    width: 70%;
}
.concurs-item p{
    font-size: 18px;
    font-weight: 400;
    color: #000000;
}
.concurs-item button{
    align-self: flex-start;
    background-color: #061B3A;
    padding: 20px 40px;
    border-radius: 5px;
    border: none;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    gap: 20px;
    margin-top: 50px;
}
.voronka{
    max-width: 1200px;
    height: 750px;
    margin: auto;
    margin-top: 100px;
    background-image: url("./voronka-fon.png");
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}
.voronka-ps{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.voronka-ps h1{
    color: #000000;
    font-size: 40px;
    font-weight: 600;
}
.voronka-ps p{
    color: #00000040;
    font-size: 24px;
    font-weight: 600;
    width: 50%;
}
.voronka-minidiv{
    background-color: #7696C6;
    border-radius: 10px;
    width: 60px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    font-weight: 600;
}
.voronka-both{
    width: 370px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 275px;
}
.voronka-both2{
    width: 370px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 340px;
    left: 90px;
}
.voronka-both3{
    width: 370px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 420px;
    left: 200px;
}
.voronka-both4{
    width: 370px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 490px;
    left: 245px;
}
.voronka-both5{
    width: 370px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 565px;
    left: 295px;
}
.voronka-both6{
    width: 370px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 640px;
    left: 380px;
}
#voronka-p{
    color: #061B3A;
    font-size: 17px;
    font-weight: 600;
    width: 90%;
}
.voronka-img{
    display: none;
}
@media (max-width: 600px){
    .header-ps, .header-btn{
        display: none;
    }
    .fa-bars
    {
        display: block;
    }
    .section1{
        flex-direction: column;
        gap: 30px;
        padding: 20px;
    }
    .right button{
        left: 25%;
    }
    .process{
        padding: 30px;
        gap: 100px;
    }
    .process-cont{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(10, 200px);
        gap: 20px;
    }
    .sami{
        max-width: 1200px;
        margin: auto;
        display: flex;
        flex-direction: column;
        padding: 30px;
        gap: 50px;
        margin-top: 50px;
    }
    .sami-cont{
        display: grid;
        grid-template-columns: 370px;
        grid-template-rows: repeat(2, 400px);
        gap: 20px;
    }
    .item-sami1{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding-left: 20px;
    }
    .item-sami2{
        height: 350px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding-left: 20px;
    }
    .sami h1{
        font-size: 35px;
    }
    .item-sami1 h2{
        font-size: 20px;
    }
    .item-sami1 p{
        font-size: 20px;
    }
    .question{
        width: 100%;
        height: 1300px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 100px;
    }
    .question1{
        max-width: 1200px;
        width: 100%;
        height: 80%;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .question-cont{
        display: none;
    }
    .question2{
        height: 50%;
        width: 75%;
        display: flex;
        flex-direction: column;
        padding: 40px;
        gap: 70px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        border-top-left-radius: 0px;
    }
    .question2 h1{
        font-size: 28px;
    }
    .question2 h2{
        font-size: 28px;
        width: 100%;
    }
    .question-btns{
        display: flex;
        gap: 10px;
        justify-content: center;
    }
    .question3{
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 0px;
        height: 40%;
        width: 75%;
        display: flex;
        flex-direction: column;
        padding: 40px;
        gap: 80px;
    }
    .question3 h1{
        font-size: 35px;
        width: 100%;
    }
    .question3 p{
        font-size: 25px;
        width: 100%;
    }
    .case{
        max-width: 1200px;
        margin: auto;
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        gap: 50px;
    }
    .case1{
        display: flex;
        flex-direction: column;
        padding: 20px;
        gap: 30px;
    }
    .case-cont{
        display: grid;
        grid-template-columns: 380px;
        grid-template-rows: repeat(3, 100px);
        gap: 20px;
    }
    .case-item{
        padding: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .case-img{
        display: none;
    }
    .case-item h2{
        font-size: 14px;
        width: 90%;
    }
    .case-item2{
        display: none;
    }
    .case2{
        width: 75%;
        height: 400px;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 0px 20px;
        margin-top: 0px;
    }
    .concurs{
        width: 100%;
        height: 1000px;
        background-color: #F0F9FF;
        margin-top: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 30px;
    }
    .concurs1{
        max-width: 1200px;
        display: flex;
        flex-direction: column;
        gap: 50px;
    }
    .concurs1 h1{
        font-size: 30px;
        font-weight: 600;
        color: #000000;
        width: 80%;
    }
    .concurs-main{
        display: flex;
    }
    .concurs-pic{
        display: none;
    }
    .concurs-cont{
        display: grid;
        grid-template-columns: 370px;
        grid-template-rows: 270px 270px;
        gap: 20px;
    }
    .concurs-item{
        background-color: #FFFFFF;
        border-radius: 20px;
        padding: 30px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
.concurs-item h2{
        font-size: 24px;
        font-weight: 600;
        color: #061B3A;
        width: 70%;
    }
    .concurs-item p{
        font-size: 18px;
        font-weight: 400;
        color: #000000;
    }
    .concurs-item button{
        display: none;
    }
    .voronka{
        max-width: 1200px;
        height: 750px;
        margin: auto;
        margin-top: 100px;
        background-image: url("./voronka-fon.png");
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
    }
    .voronka-ps{
        display: flex;
        flex-direction: column;
        gap: 25px;
    }
    .voronka-ps h1{
        color: #000000;
        font-size: 40px;
        font-weight: 600;
    }
    .voronka-ps p{
        color: #00000040;
        font-size: 24px;
        font-weight: 600;
        width: 50%;
    }
    .voronka-minidiv{
        background-color: #7696C6;
        border-radius: 10px;
        width: 60px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 20px;
        font-weight: 600;
    }
    .voronka-both{
        width: 370px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        top: 275px;
    }
    .voronka-both2{
        width: 370px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        top: 340px;
        left: 90px;
    }
    .voronka-both3{
        width: 370px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        top: 420px;
        left: 200px;
    }
    .voronka-both4{
        width: 370px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        top: 490px;
        left: 245px;
    }
    .voronka-both5{
        width: 370px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        top: 565px;
        left: 295px;
    }
    .voronka-both6{
        width: 370px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        top: 640px;
        left: 380px;
    }
    #voronka-p{
        color: #061B3A;
        font-size: 17px;
        font-weight: 600;
        width: 90%;
    }
}