*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.navbar{
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-ps{
    display: flex;
    gap: 20px;
}
.header-btn{
    padding: 10px 30px;
    background-color: #061B3A;
    border-radius: 5px;
    display: flex;
    gap: 10px;
    color: white;
    cursor: pointer;
}
.fa-bars{
    display: none;
}
.section1-blue{
    background-color: #A7CBFF;
}
.section1{
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.left h1{
    font-size: 50px;
}
.row{
    display: flex;
    align-items: center;
    gap: 20px;
}
.left-list{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.left{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 40px;
}
.left button{
    padding: 10px 30px;
    border-radius: 10px;
    border: none;
    display: flex;
    align-items: center;
    gap: 20px;
}
.right{
    position: relative;
    height: 700px;
}
.hero-section-human{
    height: 100%;
}
.card{
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    position: absolute;
    top: 60%;
}
.card div{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 70%;
}
.card p{
    font-size: 12px;
}
.right button{
    background-color: #071C3B;
    color: white;
    font-size: 20px;
    border-radius: 40px;
    padding: 10px 30px;
    position: absolute;
    cursor: pointer;
    top: 80%;
    left: 50%;
}
.process{ 
    max-width: 1200px;
    margin: auto;
    padding: 100px;
    display: flex;
    flex-direction: column;
    gap: 100px;
}
.process-cont{
    display: grid;
    grid-template-columns: 220px 220px 220px 220px 220px;
    grid-template-rows: 200px 200px;
    gap: 20px;
}
.item{
    box-shadow: 0px 0px 7px rgba(192, 192, 192, 0.634);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    padding-left: 20px;
}
.process-both{
    display: flex;
    font-size: 14px;
}
.process h1{
    font-size: 40px;
}
.sami{
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 50px;
    gap: 50px;
}
.sami-cont{
    display: grid;
    grid-template-columns: 600px 600px;
    grid-template-rows: 400px;
    gap: 20px;
}
.item-sami1{
    border-radius: 20px;
    box-shadow: 0px 0px 7px rgba(192, 192, 192, 0.634);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 40px;
}
.item-sami2{
    height: 350px;
    background-color: #061B3A;
    border-radius: 20px;
    box-shadow: 0px 0px 7px rgba(192, 192, 192, 0.634);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 40px;
}
.sami h1{
    font-size: 40px;
}
.item-sami1 h2{
    font-size: 24px;
    color: #00000066;
}
.item-sami1 p{
    font-size: 24px;
    font-weight: 300;
    color: #00000089;
}
.sami-both{
    display: flex;
    gap: 20px;
    color: rgba(255, 255, 255, 0.844);
    font-weight: 400;
    font-size: 20px;
}
.item-sami2 h2{
    font-size: 24px;
    font-weight: 700;
    color: white;
}
@media (max-width: 600px){
    .header-ps, .header-btn{
        display: none;
    }
    .fa-bars
    {
        display: block;
    }
    .section1{
        flex-direction: column;
        gap: 30px;
        padding: 20px;
    }
    .right button{
        left: 25%;
    }
    .process{
        padding: 30px;
        gap: 100px;
    }
    .process-cont{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(10, 200px);
        gap: 20px;
    }
    .sami{
        max-width: 1200px;
        margin: auto;
        display: flex;
        flex-direction: column;
        padding: 30px;
        gap: 50px;
        margin-top: 50px;
    }
    .sami-cont{
        display: grid;
        grid-template-columns: 370px;
        grid-template-rows: repeat(2, 400px);
        gap: 20px;
    }
    .item-sami1{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding-left: 20px;
    }
    .item-sami2{
        height: 350px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding-left: 20px;
    }
    .sami h1{
        font-size: 35px;
    }
    .item-sami1 h2{
        font-size: 20px;
    }
    .item-sami1 p{
        font-size: 20px;
    }
}